{{#each posts as |post| }}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h4 class="card-title">{{post.topic}}</h4>
            <h5 class="card-subtitle mb-2 text-body-secondary">{{post.date}}</h5>
            <h6 class="postBody card-subtitle mb-2">{{post.post_body}}<h6>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

